<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product detail</title>
    <link rel="stylesheet" href="productdetail.css">
</head>
<body>
    <div class="main-content">
        <div id="left">
            <div class="main-image">
                <img src="../assets/images/Harvest-grove-rigid.png" alt="">
            </div>
            <div class="thumbnails">
                <img src="../assets/images/Harvest-grove-rigid.png" alt="">
                <img src="../assets/images/harvest-alt1.png" alt="">
                <img src="../assets/images/harvest-alt2.png" alt="">
            </div>
        </div>
        <div id="right">
            <div class="title-section">
                <div class="title">
                    <p id="main">Product title</p>
                    <p id="sub">Product category</p>
                </div>
                <div class="price-link">
                    <div class="title-left">
                        <p>price</p>
                    </div>
                    <div class="title-right">
                        <a href="">See in my room</a>
                    </div>
                </div>
                
                <a href="">View specifications</a>
            </div>

            <div class="description">
                <p>
                Luxury vinyl flooring is 100% waterproof and stands up to most anything life throws its way!
                 5mm DuraLux Performance Harvest Grove Rigid Core Luxury Vinyl Plank - 
                 Foam Back is a highly durable and waterproof flooring option that is suitable for any room in the house, 
                 including basements, sunrooms, and full bathrooms. Plus, its rigid stone-based core makes each plank dent-resistant 
                 and scratch-resistant, so DuraLux Performance is perfect for high-traffic areas.
                </p>

                <ul>
                    <li>Install up to 6,400 square feetNo need for transition molding.</li>
                    <li>You can install it right awayPre-installation acclimation is unnecessary.</li>
                    <li>Attached foam underlayment makes for a quieter, warmer floor.</li>
                    <li>Can be installed on, above, and below grade-level (perfect for basements!) and over most existing hard-surface flooring, including slightly irregular subfloors.</li>
                    <li>This DuraLux Performance product is backed by a lifetime res./ 15 yr comm. warranty.</li>
                    <li>It is recommended to use Sentinel Protect Plus Underlayment for optimal sound absorption and moisture resistance or a standard vapor barrier like 6mil PE Film.</li>
                </ul>

                <a href="">Product Details</a>
                <a href="">Reviews</a>
            </div>
        </div>
    </div>

    <div class="secondary-content">

        <div class="suggestedProduct">
            <div class="container">
                <img src={image} alt={title} />
                <div class="prod-title">{title}</div>
                <p>{description}</p>
                <p>{price}</p>
            </div>
        </div>

        <div class="suggestedProduct">
            <div class="container">
                <img src={image} alt={title} />
                <div class="prod-title">{title}</div>
                <p>{description}</p>
                <p>{price}</p>
            </div>
        </div>

        <div class="suggestedProduct">
            <div class="container">
                <img src={image} alt={title} />
                <div class="prod-title">{title}</div>
                <p>{description}</p>
                <p>{price}</p>
            </div>
        </div>
        
    </div>

    
</body>

<script>
    document.querySelectorAll(".thumbnails img").forEach((thumbnail) => {
    thumbnail.addEventListener("click", (event) => {
        const mainImage = document.querySelector(".main-image img");
        mainImage.src = event.target.src; // Set main image source to clicked thumbnail's source
    });
});
</script>
</html>